---
import ScrollShowcase from "./react/ScrollShowcase";
---

<section class="border-b border-[var(--border)] bg-[var(--bg)]" aria-labelledby="showcase-heading">
  <h2 id="showcase-heading" class="sr-only">Scroll spotlight</h2>
  <ScrollShowcase client:visible />
</section>
